name: Run SoSoBot
on:
  schedule:
    - cron: '*/5 * * * *'
  workflow_dispatch:

jobs:
  run-bot:
    runs-on: ubuntu-latest
    # Permissions yaha bhi add kar dete hain backup ke liye
    permissions:
      contents: write
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: pip install requests

      - name: Run Script
        run: python bot.py

      - name: Update Last ID
        run: |
          git config --local user.email "github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          git add last_id.txt || echo "No changes to add"
          git commit -m "Update last news ID" || echo "No changes to commit"
          git push || echo "No changes to push"
