name: Run SoSoBot Browser
on:
  schedule:
    - cron: '*/10 * * * *' # Har 10 min
  workflow_dispatch:

jobs:
  run-bot:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install Dependencies
        run: |
          pip install requests playwright
          playwright install chromium

      - name: Run Script
        run: python bot.py

      - name: Update Last ID
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add last_id.txt || echo "No file to add"
          git commit -m "Update DB" || echo "No changes"
          git push || echo "No push"
