name: Run SoSoBot
on:
  schedule:
    - cron: '*/10 * * * *'
  workflow_dispatch:

jobs:
  run-bot:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: pip install requests

      - name: Run Script
        env: # Ye line batati hai ki Secrets use karne hain
          BOT_TOKEN: ${{ secrets.BOT_TOKEN }}
          CHAT_ID: ${{ secrets.CHAT_ID }}
        run: python bot.py

      - name: Update Last ID
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add last_id.txt || echo "No changes"
          git commit -m "Update DB" || echo "No changes"
          git push || echo "No changes"
