name: Run SoSoBot
on:
  schedule:
    - cron: '*/10 * * * *' # Har 10 minute mein check karega
  workflow_dispatch:      # Manual button ke liye

jobs:
  run-bot:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: pip install requests

      - name: Run Script
        run: python bot.py

      - name: Save Last ID
        run: |
          git config --local user.email "github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          git add last_id.txt
          git commit -m "Update last news ID" || exit 0
          git push
